#loginBox{
	text-align: center;
	display: inline-block;
	background: green;
	padding: 5px;
	margin: 10px;
}

#registerBox{
	text-align: center;
	display: inline-block;
	background: green;
	padding: 5px;
	margin: 10px;
	z-index: 100;
}

#all{
	background-color: red;
	font-family: verdana;
}

#boxes{
	text-align: center;
	margin-top: 15%;
	z-index: 100;
}

h1{
	text-align: center;
	color: green;
	z-index: 10;
	font-family: 'VT323', monospace;
	font-size: 100px;
	margin: 0px;
}
h3{
	margin: none;
	font-family: 'VT323', monospace;
	font-size: 24px;
}

body{
	background-color: teal;

}



.row {
	height: 26px;
}

.column {
	border: 1px solid red;
	width: 24px;
	height: 24px;
	display: inline-block;
	background-color: white;
}